nni==3.0
numpy==1.24.4
omegaconf==2.3.0
pandas==2.0.3
pytorch_lightning==2.1.2
Requests==2.31.0
streamlit==1.28.2
streamlit_elements==0.1.0
torch==1.12.0+cu116
torchmetrics==1.2.0
torchvision==0.13.0+cu116
tqdm==4.66.1
